.App {
  text-align: center;
  font-size: calc(1px + 2vmin);
  justify-content: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  font-size: calc(1px + 2vmin);
}

.App-header > h3 {
  margin: 2vmin;
}

.App-header > form {
  justify-content: center;
  align-items: center;
  margin: 2vmin;
}

.App-link {
  color: #61dafb;
}

form {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

form > label {
  display: flex;
  flex-direction: row;
}

label > pre {
  margin: 0;
}

input#url_submit {
  margin-left: 1vw;
}